.mat-radio-button {
  margin-right: 50px;
}

.row {
  font-size: 16px;
}

.fontawesome {
  margin-right: 20px;
}

/deep/ .mat-tab-label, /deep/ .mat-tab-label-active {
  min-width: 0 !important;
  padding: 0 0 0 20px !important;
  margin: 0 0 5px 20px !important;
}

.mat-spinner {
  margin: 0 auto;
}

.table {
  font-size: 12px;
  width: 80%;
  height: 80%;
}

.weather-view {
  margin-top: 5%;
}

.container {
  background-color: #ffffdc;
}
