<h2 mat-dialog-title>Weather for {{getWeatherDto().cityName}}</h2>
<div mat-dialog-content>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button checked value="1">Current weather</mat-radio-button>
    <mat-radio-button value="2">Five days forecast</mat-radio-button>
  </mat-radio-group>
  <div class="container">
    <p><b>Description: </b>{{getWeatherDto().description}}</p>
    <p><b>Temperature: </b>{{getWeatherDto().temperature}}<span>&#8451;</span></p>
    <p><b>Minimum temperature: </b>{{getWeatherDto().minimumTemperature}}<span>&#8451;</span></p>
    <p><b>Maximum temperature: </b>{{getWeatherDto().maximumTemperature}}<span>&#8451;</span></p>
    <p><b>Perceptible temperature: </b>{{getWeatherDto().perceptibleTemperature}}<span>&#8451;</span></p>
    <p><b>Cloud level: </b>{{getWeatherDto().cloudPercentage}}<span>%</span></p>
    <p><b>Humidity level: </b>{{getWeatherDto().humidity}}<span>%</span></p>
    <p><b>Pressure: </b>{{getWeatherDto().pressure}}<span>hPa</span></p>
    <p><b>Wind speed: </b>{{getWeatherDto().windSpeed}}<span>m/s</span></p>
    <p><b>Visibility: </b>{{getWeatherDto().visibilityInMeters}}<span>m</span></p>
    <p><b>Sunrise time: </b>{{getWeatherDto().sunrise}}</p>
    <p><b>Sunset time: </b>{{getWeatherDto().sunset}}</p>
  </div>
</div>
